<div *ngIf="selectedSoftSkill; else notFound" class="soft-skill-detail">
  <img
    [src]="selectedSoftSkill.icon"
    [alt]="selectedSoftSkill.name"
    class="soft-skill-detail-icon"
  />
  <h2>{{ selectedSoftSkill.name }}</h2>
  <div class="markdown-body" [innerHTML]="formatMarkdown(selectedSoftSkill.markdown)"></div>
</div>

<ng-template #notFound>
  <p>Oops ! J’ai cette compétence, je suis content que vous parcouriez mon portfolio avec autant de profondeur. Je la maîtrise bien et je la présenterai ici dès que possible.</p>
</ng-template>
