<div class="about-container">
  <h1 class="about-title">À propos de moi</h1>

  <div class="accordion">
    <div *ngFor="let section of sections" class="accordion-section">
      <button class="accordion-header" (click)="toggleAccordion(section.title)">
        {{ section.title }}
        <span class="icon">{{ section.isOpen ? '-' : '+' }}</span>
      </button>
      <div class="accordion-content" *ngIf="section.isOpen">
        <div *ngIf="section.title === 'Formations'" class="section-content">
          <ul>
            <li *ngFor="let formation of formations">
              <a [routerLink]="['/portfolio/formation', formation.id]">
                <strong>{{ formation.titre }}</strong> - {{ formation.institution }} ({{ formation.annee }})
                <img [src]="formation.icon" [alt]="formation.titre" class="competence-icon" />
              </a>
            </li>
          </ul>
        </div>
        <div *ngIf="section.title === 'Expériences Professionnelles'" class="section-content">
          <ul>
            <li *ngFor="let experience of experiences">
              <a [routerLink]="['/portfolio/experience', experience.id]">
                <strong>{{ experience.poste }}</strong> - {{experience.entreprise}} {{experience.periode}}
                <img [src]="experience.icon" [alt]="experience.poste" class="competence-icon" />
              </a>
            </li>
          </ul>
        </div>
        
        <div *ngIf="section.title === 'Compétences'" class="section-content">
          <ul>
            <li *ngFor="let competence of competences">
              <a [routerLink]="['/portfolio/competence', competence.name.toLowerCase()]">
                <img [src]="competence.icon" [alt]="competence.name" class="competence-icon" />
                {{ competence.name }}
              </a>
            </li>
          </ul>
        </div>

        <div *ngIf="section.title === 'Soft-Skills'" class="section-content">
          <ul>
            <li *ngFor="let softSkill of softSkills">
              <a [routerLink]="['/portfolio/soft-skill', softSkill.id]">
                <img [src]="softSkill.icon" [alt]="softSkill.name" class="competence-icon" />
                {{ softSkill.name }}
              </a>
            </li>
          </ul>
        </div>
        
        <div *ngIf="section.title === 'Intérêts'" class="section-content">
          <ul>
            <li *ngFor="let interet of interets">{{ interet }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>



  <div class="social-links">
    <a href="https://github.com/TalebMaham/" target="_blank" class="btn btn-social">
       GitHub
    </a>
    <a href="https://www.linkedin.com/in/sidi-mohamed-taleb-9a6935215/" target="_blank" class="btn btn-social">
      LinkedIn
    </a>
  </div>
</div>
