/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Header styles */
  header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 2rem;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  
  /* Main content styles */
  .content {
    text-align: center;
    margin: 2rem;
    font-family: Arial, sans-serif;
  
  }
  
  h1 {
    font-size: 2.5rem;
    color: #333;
  }
  
  p {
    font-size: 1.2rem;
    color: #666;
    margin-top: 1rem;
  }
  
  /* Footer styles */
  footer {
    background-color: #f1f1f1;
    color: #333;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
    font-size: 0.9rem;
  }

  .navbar a {
    position: relative;
    transition: color 0.3s ease;
  }
  
  .navbar a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: white;
    bottom: -5px;
    left: 0;
    transition: width 0.3s ease;
  }
  
  .navbar a:hover::after {
    width: 100%;
  }
  
  .logo {
    width: 150px;
    height: 150px; /* Assurez une hauteur fixe pour garantir une forme carrée */
    max-width: 100%; /* Ne dépasse jamais la largeur de son conteneur */
    border-radius: 50%; /* Transforme le cadre en cercle */
    object-fit: cover; /* S'assure que l'image remplit le cercle sans déformation */
  }
  
  @media screen and (max-width: 768px) {
    .logo {
      width: 120px; /* Réduit légèrement la taille du logo pour les petits écrans */
      height: 120px; /* Ajuste la hauteur pour conserver la forme carrée */
    }
  }

  button {
    margin: 0.3rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  button:hover {
    background-color: #555;
  }
  

  
  
  .markdown-body {
    font-size: 1rem;
    line-height: 1.8;
    max-width: 700px;
    margin: auto;
    text-align: left;
    color: #333;
  }
  
  .markdown-body h3 {
    font-size: 1.2rem;
    margin-top: 1.5rem;
    color: #444;
    font-weight: bold;
  }
  
  .markdown-body ul {
    list-style: none;
    padding-left: 0;
  }
  
  .markdown-body li {
    margin: 0.4rem 0;
    padding-left: 1rem;
    position: relative;
  }
  
  .markdown-body li::before {
    content: '•';
    position: absolute;
    left: 0;
    color: #999;
  }
  
  