<header>
  <nav>
    <ul class="navbar">
      <li><a routerLink="/portfolio/accueil">Accueil</a></li>
      <li><a routerLink="/portfolio/about">About</a></li>
      <li><a routerLink="/portfolio/project">Projects</a></li>
      <li><a routerLink="/portfolio/contact">Contact</a></li>
    </ul>
  </nav>
</header>

<main class="content">
  <img [src]="'/assets/logo.jpg'" alt="Logo de Mon Portfolio" class="logo" />
  <h3 class="typing" id="name"></h3>
  <p class="typing" id="desc"></p>
  <router-outlet></router-outlet>
</main>

<footer>
  <p>&copy; TALEB. All rights reserved.</p>
</footer>
