<div *ngIf="selectedCompetence; else notFound" class="competence-detail">
    <img [src]="selectedCompetence.icon" [alt]="selectedCompetence.name" class="competence-detail-icon" />
    <h2>{{ selectedCompetence.name }}</h2>
    <div class="markdown-body" [innerHTML]="htmlContent"></div>
  </div>
  
  <ng-template #notFound>
    <p>Oops ! J’ai cette compétence, je suis content que vous parcouriez mon portfolio avec autant de profondeur. Je la maîtrise bien et je la présenterai ici dès que possible.</p>
  </ng-template>
  